[Desktop Entry]
Type=Application
Exec=/usr/bin/pipewire & /usr/bin/pipewire-pulse & /usr/bin/pipewire-media-session
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=pipewire
Name=pipewire
Comment[en_GB]=custom
Comment=custom
